.wrp--footer .text {
    display: inline-block;
    width: 220px;
    height: 36px;
    font-family: $main-font;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    padding-left: 10px;
    border: 1px solid $border-color-form;
    border-right: none;

    &:active, &:focus {
        outline: none;
    }
}
.wrp--footer .button {
    display: inline-block;
    width: 150px;
    height: 40px;
    font-family: $subtitle-font;
    font-weight: 700;
    font-size: 14px;
    color: $header-color;
    background-color: $background-color;
    text-transform: uppercase;
    margin-left: -4px;
    border: none;
    cursor: pointer;

    &:active, &:focus {
        outline: none;
        border: none;
    }
    &:hover {
        background-color: $hover-color-main;
    }
}



